*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
body{
    font-family: 'ProximaNova';
}
header{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    z-index: 1000;
    .container{
        text-align: center;
        padding: 20px 0;
    }
    @at-root.search_box{
        width: 500px;
        display: inline-block;
        background: #EFEFEF;
        border-radius: 20px;
        height: 36px;
        position: relative;
        vertical-align: middle;
        margin-left: 10px;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // -webkit-transform: translate(-50%, -50%);
        // -moz-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
        input[type="text"]{
            width: 100%;
            height: 36px;
            display: block;
            border: none;
            background: none;
            padding-left: 46px;
            padding-right: 10px;
            outline: 0;
            font-family: 'ProximaNova';
            &:focus{
                outline: 0;
            }
        }
        .search_btn{
            width: 36px;
            height: 36px;
            border: none;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            text-indent: 9999px;
            background: url('../../public/icon_search.png') no-repeat center / 16px;
        }
    }
    .home_btn{
        width: 40px;
        height: 40px;
        vertical-align: middle;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // -webkit-transform: translate(-300px, -50%);
        // -moz-transform: translate(-300px, -50%);
        // transform: translate(-300px, -50%);
        background: url('../../public/logo_answerville.png') no-repeat center / 30px;
        text-indent: -9999px;
        display: inline-block;
    }
}
.row_flex{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.error{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'ProximaNovaBold';
}
section{
    padding-top: 160px;
    &.home_section{
        padding-top: 20px;
        .logo_box{
            margin-bottom: 20px;
            img{
                width: 120px;
                display: block;
                margin:0 auto;
            }
        }
        h3{
            text-align: center;
            text-transform: uppercase;
            font-size: 40px;
            font-family: 'ProximaNovaBold';
            margin-bottom: 20px;
        }
        .search_box{
            left:auto;
            top:auto;
            display: block;
            position: relative;
            -webkit-transform: none;
            -moz-transform: none;
            transform: none;
            margin:0 auto;
            overflow: hidden;
        }
    }
    &.article_detail_section{
        text-align: center;
        h1{
            font-size: 32px;
            margin-bottom: 20px;
            font-family: 'ProximaNovaBold';
        }
        img{
            display: block;
            width: 100%;
            max-width: 100%;
            margin:0 auto 20px;
        }
        p{
            font-size: 20px !important;
            line-height: 28px !important;
            margin-bottom: 20px !important;
            font-family: 'ProximaNova' !important;
            color: #000 !important;
        }
        strong{
            font-family: 'ProximaNovaBold';
        }
        span{
            font-size: 20px !important;
            line-height: 28px !important;
        }
        ul, ol{
            li{
                font-family: 'ProximaNova';
                font-size: 20px !important;
                margin-bottom: 20px;
                text-align: left;
                color: #000 !important;
            }
        }
    }
    .container{
        width: 100%;
        max-width: 960px;
        margin:0 auto;
    }
    &.result_section{
        padding-top: 120px;
    }
}
.ads_box{
    width: 100%;
    height: 100px;
    background: #ccc;
    line-height: 100px;
    text-align: center;
    color:#fff;
    margin-bottom: 20px;
}
.pbgoogle{
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('../../public/powered-by-google.png') no-repeat center / contain;
}
@media only screen and (max-width:959px){
    section{
        &.home_section{
            h3{
                font-size: 30px;
            }
        }
        &.article_detail_section{
            padding-top: 100px;
            padding-bottom: 60px;
            h1{
                font-size: 26px;
                padding: 0 20px;
            }
            p{
                font-size: 16px !important;
                line-height: 24px !important;
            }
            ul,
            ol{
                padding-left: 20px;
                li{
                    font-size: 16px !important;
                    line-height: 24px;
                }
            }
            .container{
                div{
                    padding: 0 20px;
                }
            }
        }
    }
}
@media only screen and (max-width:767px){
    header{
        .home_btn{
            background: url('../../public/logo_answerville.png') no-repeat center / 40px;
            margin-bottom: 10px;
        }
    }
    .search_box{
        width: calc(100% - 40px);
    }
    section{
        &.home_section{
            h3{
                font-size: 24px;
            }
            .search_box{
                width: calc(100% - 40px);
            }
        }
        .card_category_box{
            width: 100%;
            margin-right: 0;
            &:nth-child(3n){
                margin-right: 0;
            }
            &:nth-child(5n){
                margin-right: 0;
            }
        }
        &.article_detail_section{
            padding-top: 140px;
            h1{
                font-size: 22px;
            }
        }
    }
}
