* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "ProximaNova";
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}
header .container {
  text-align: center;
  padding: 20px 0;
}
.search_box {
  width: 500px;
  display: inline-block;
  background: #EFEFEF;
  border-radius: 20px;
  height: 36px;
  position: relative;
  vertical-align: middle;
  margin-left: 10px;
}
.search_box input[type=text] {
  width: 100%;
  height: 36px;
  display: block;
  border: none;
  background: none;
  padding-left: 46px;
  padding-right: 10px;
  outline: 0;
  font-family: "ProximaNova";
}
.search_box input[type=text]:focus {
  outline: 0;
}
.search_box .search_btn {
  width: 36px;
  height: 36px;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 9999px;
  background: url("../../public/icon_search.png") no-repeat center/16px;
}

header .home_btn {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  background: url("../../public/logo_answerville.png") no-repeat center/30px;
  text-indent: -9999px;
  display: inline-block;
}

.row_flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.error {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "ProximaNovaBold";
}

section {
  padding-top: 160px;
}
section.home_section {
  padding-top: 20px;
}
section.home_section .logo_box {
  margin-bottom: 20px;
}
section.home_section .logo_box img {
  width: 120px;
  display: block;
  margin: 0 auto;
}
section.home_section h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "ProximaNovaBold";
  margin-bottom: 20px;
}
section.home_section .search_box {
  left: auto;
  top: auto;
  display: block;
  position: relative;
  transform: none;
  margin: 0 auto;
  overflow: hidden;
}
section.article_detail_section {
  text-align: center;
}
section.article_detail_section h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "ProximaNovaBold";
}
section.article_detail_section img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto 20px;
}
section.article_detail_section p {
  font-size: 20px !important;
  line-height: 28px !important;
  margin-bottom: 20px !important;
  font-family: "ProximaNova" !important;
  color: #000 !important;
}
section.article_detail_section strong {
  font-family: "ProximaNovaBold";
}
section.article_detail_section span {
  font-size: 20px !important;
  line-height: 28px !important;
}
section.article_detail_section ul li, section.article_detail_section ol li {
  font-family: "ProximaNova";
  font-size: 20px !important;
  margin-bottom: 20px;
  text-align: left;
  color: #000 !important;
}
section .container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
section.result_section {
  padding-top: 120px;
}

.ads_box {
  width: 100%;
  height: 100px;
  background: #ccc;
  line-height: 100px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.pbgoogle {
  width: 100px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url("../../public/powered-by-google.png") no-repeat center/contain;
}

@media only screen and (max-width: 959px) {
  section.home_section h3 {
    font-size: 30px;
  }
  section.article_detail_section {
    padding-top: 100px;
    padding-bottom: 60px;
  }
  section.article_detail_section h1 {
    font-size: 26px;
    padding: 0 20px;
  }
  section.article_detail_section p {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  section.article_detail_section ul,
  section.article_detail_section ol {
    padding-left: 20px;
  }
  section.article_detail_section ul li,
  section.article_detail_section ol li {
    font-size: 16px !important;
    line-height: 24px;
  }
  section.article_detail_section .container div {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 767px) {
  header .home_btn {
    background: url("../../public/logo_answerville.png") no-repeat center/40px;
    margin-bottom: 10px;
  }
  .search_box {
    width: calc(100% - 40px);
  }
  section.home_section h3 {
    font-size: 24px;
  }
  section.home_section .search_box {
    width: calc(100% - 40px);
  }
  section .card_category_box {
    width: 100%;
    margin-right: 0;
  }
  section .card_category_box:nth-child(3n) {
    margin-right: 0;
  }
  section .card_category_box:nth-child(5n) {
    margin-right: 0;
  }
  section.article_detail_section {
    padding-top: 140px;
  }
  section.article_detail_section h1 {
    font-size: 22px;
  }
}/*# sourceMappingURL=main.css.map */